
.row {
  margin-top: 10px;
  
}

.section
{  background: #01446b;
  border-radius: 10px;
  min-height: 300px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
opacity: 0.5;}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn_refresh {
  transition: transform .2s; /* Animation */
  width: 50px;
  height: 50x;
  margin: 0 auto;
}

.btn_refresh:hover {
  transform: scale(1.1); 
}
HEADER,
FOOTER{
    Width: 100%;
    z-Index: 1;
    Top: 0;
    Margin: 0;
    Padding: 10px 0 0 0;
    Text-Align: Center;
    Background: #21B4F9;
    Background: #2C94E0;
    Background: Linear-Gradient(45deg, #2C94E0, #21B4F9), URL(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAnCAQAAAAmqpm+AAAAUUlEQVR4AWMgDvyXJEoV7/AwjnckGzdq3Khxo8apDQvj/kuCIS9OqIYCefFD4tzG+F+NGFW0Mo7ysBvNFaPGjRo3apzkIDfuP89/XipASQgEAF4fpQGYXVnnAAAAAElFTkSuQmCC);
    Background-Blend-Mode: Lighten;
    Box-Shadow: 0 0 20px 0 rgba(0,0,0,.4);
    -Moz-Animation: BluePrint 60s Infinite;
    -Webkit-Animation: BluePrint 60s Infinite;
    Animation: BluePrint 60s Infinite;
}

@-moz-keyframes BluePrint{
    0% {Background-Position: 0 0;}
    100% {Background-Position: 1100% 100%;}
}

@-webkit-keyframes BluePrint{
    0% {Background-Position: 0 0;}
    100% {Background-Position: 1100% 100%;}
}

@keyframes BluePrint{
    0% {Background-Position: 0 0;}
    100% {Background-Position: -100% 100%;}
}
HEADER .Preview{
  
  Margin-Top: 1px;
 
}