<!DOCTYPE html>

<html>

<head>
    <title>
        Rama-Home
    </title>
    <script src="/static/gauge.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous">
    </script>

    <script type='text/javascript' src="http://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
 
      

    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"  crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet " type="text/css" href="/static/background.css">



    <script type="text/javascript" src="/static/control_pi.js"></script>

    <script type="text/javascript" charset="utf-8">
        var mycount = 66;
        var myData = {};
        var testc = 10;
        $(document).ready(function () {
            namespace = '/carpi';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port +
                namespace);
            socket.on('connect', function () {
                socket.emit('my_event', {
                    data: 'I\'m connected!'
                });
            });
            socket.on('my_response', function (msg) {
                $('#values').html(msg.count)
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.data + ': ' + msg.count)
                    .html())

                var time = msg.time
                var temprature = msg.temprature
                var humidity = msg.humidity
                var light = msg.light
                var pic_path = msg.image
                var thumb_pic_path = msg.thumb


                temprature_gauge.value = temprature
                Humidity_guage.value = humidity
                light_guage.value = light

                document.getElementById('par-time').innerHTML = time
                document.getElementById('a_camera').href = pic_path;
                document.getElementById('img_camera').src = thumb_pic_path;
                document.getElementById('img_camera').alt = thumb_pic_path;

            });
        });
    </script>

</head>

<body style="text-align:center" class="area" id="body">

    <!-- for background -->

  
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                
        </ul>

        <header id="Header">
    <div class="Preview"> 
        <div class="row">
        
        <div class="col-lg-3  background: #01446b;
        border-radius: 10px;2">
            <img src="/static/images/logo.png"  height="100" width="100">
        </div>
      
        <div class="col-lg-3">
            <p > <b>Rama -  Home - V0.0.1</b> <p>
        </div>
        
        <div class="col-lg-3">
            <h4 id='par-time'>time</h4>
        </div>

        <div class="col-lg-3">
            <img id="btn_refresh" src="static/images/refresh.png" class="btn_refresh" onclick="sendJSON(&#34;refresh&#34;)">

        </div>
        </div>
</dev>
</header>


 
<div class="row">

        <div class="col-lg-4">
            
                <div class="section">
                    <div class="row">
                        <div class="col-lg-12">
                            <a  href="" alt="camera link" id="a_camera" ><img  id="img_camera" src="" alt="camera image" width="260" height="200"></a>
                        </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            <div class="section">     
                <div class="row">
                   
                    <div class="col-lg-6">
                        <canvas id="external-temp"> </canvas>
                        <script>
                            var temprature_gauge = new RadialGauge({
                                renderTo: 'external-temp',
                                width: 200,
                                height: 200,
                                units: "°C",
                                title: "Temprature",
                                minValue: -10,
                                maxValue: 50,
                                majorTicks: ["-10", "0", "10", "20", "30", "40", "50"],
                                minorTicks: 2,
                                highlights: [{
                                        from: -10,
                                        to: 15,
                                        color: 'rgba(0, 0, 255, .3)'
                                    }, {
                                        from: 15,
                                        to: 27,
                                        color: 'rgba(120, 120, 200, .3)'
                                    },
                                    {
                                        from: 27,
            
                                        to: 50,
                                        color: 'rgba(255, 0, 0, .3)'
                                    }
                                ],
                                ticksAngle: 225,
                                startAngle: 67.5,
                                borders: false,
                                borderShadowWidth: 0,
                                valueBox: true,
                                colorPlate:'rgba(47, 255, 255, 0)',
                                colorNumbers:'rgba(255, 255, 255, 1)'
                            })
                            temprature_gauge.draw();
                        </script>
                    </div>
               
                    <div class="col-lg-6">

                        <div class="row">
                            <img id="img_fan" src="/static/images/icons/fan-off-100.png" alt="fan" height="50" width="50">
                            <label class="switch">
                            <input id="chk_fan" type="checkbox" onclick="sendJSON(&#34;fan&#34;)">
                            <span class="slider round"></span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>


        </div>


        <div class="col-lg-4">
            
            <div class="section">
                <div class="row">
                    <div class="col-lg-6">  
                        <canvas id="hummidity_value"> </canvas>
                        <script>
                            var Humidity_guage = new RadialGauge({
                                renderTo: 'hummidity_value',
                                width: 200,
                                height: 200,
                                units: "%RH",
                                title:"Hummidity",
                                minValue: 0,
                                maxValue: 100,
                                majorTicks: [
                                    "0",
                                    "20",
                                    "40",
                                    "60",
                                    "80",
                                    "100"
                                ],
                                minorTicks: 5,
                                strokeTicks: true,
                                highlights: [{
                                        from: 0,
                                        to: 20,
                                        color: 'rgba(250,50, 50, .4)'
                                    },
                                    {
                                        from: 20,
                                        to: 40,
                                        color: 'rgba(50, 250, 104, .4)'
                                    },
                                    {
                                        from: 40,
                                        to: 100,
                                        color: 'rgba(0, 0, 255, .4)'
                                    }
                                ],
                                colorPlate:'rgba(47, 255, 255, 0)',
                                colorNumbers:'rgba(255, 255, 255, 1)',
                                borderShadowWidth: 0,
                                borders: false,
                                needleType: "arrow",
                                needleWidth: 3,
                                needleCircleSize: 10,
                                needleCircleOuter: true,
                                needleCircleInner: false,
                                animationDuration: 1500,
                                animationRule: "linear"
                            })
                            Humidity_guage.draw();
                        </script>
                    </div>
      
       
                    <div class="col-lg-6">
                        <div class="row">
                            <img id="img_hummidifier" src="/static/images/icons/hummidifier-off-100.png" alt="humidifier_btn"
                                height="50" width="50">
                            <label class="switch">
                                <input id="chk_mister" type="checkbox" onclick="sendJSON(&#34;mister&#34;)">
                                <span class="slider round"></span>
                            </label>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-4">
            <div class="section">
                <div class="row">

                    <div class="col-lg-3">
                        <img id="img_home_light" src="/static/images/icons/home_light-off-100.png" alt="home_lights_btn" height="50" width="50">
                        <label class="switch">
                            <input id="chk_home_light" type="checkbox" onclick="sendJSON(&#34;home_light&#34;)">
                            <span class="slider round"></span>
                        </label>
            
                    </div>
                
                    <div class="col-lg-6">
                    
                    <div class="slidecontainer">
                    
                    <input type="range" min="0" max="100" value="50" class="slider" id="myRange" onclick="sendJSON(&#34;dimmer&#34;)">
                    
                    <p>Value: <span id="demo"></span></p>
                    
                    <script>
                        var slider = document.getElementById("myRange");
                        var output = document.getElementById("demo");
                        output.innerHTML = slider.value;
                        
                        slider.oninput = function() {
                        output.innerHTML = this.value;
                        }
                    </script>
                    </div>
                </div>
                </div>

            </div>
        </div>

        <div class="col-lg-4">
            <div class="section">
                <div class="row">

                    <div class="col-lg-6">
                        <canvas id="light_value"> </canvas>
                        <script>
                            var light_guage = new RadialGauge({
                                renderTo: 'light_value',
                                width: 200,
                                height: 200,
                                units: "Lux",
                                title: "Lightness",
                                minValue: 0,
                                maxValue: 5000,
                                majorTicks: [
                                    "0",
                                    "500",
                                    "1000",
                                    "1500",
                                    "2000",
                                    "2500"
                                ],
                                minorTicks: 5,
                                strokeTicks: true,
                                highlights: [{
                                        from: 0,
                                        to: 100,
                                        color: 'rgba(25,0, 168, .4)'
                                    },
                                    {
                                        from: 100,
                                        to: 500,
                                        color: 'rgba(47, 15, 224, .4)'
                                    },
                                    {
                                        from: 500,
                                        to: 1000,
                                        color: 'rgba(47, 15, 247, .4)'
                                    },
                                    {
                                        from: 1000,
                                        to: 2500,
                                        color: 'rgba(0, 204, 61, .4)'
                                    },
                                
                                ],
                                colorPlate:'rgba(47, 255, 255, 0)',
                                colorNumbers:'rgba(255, 255, 255, 1)',
                                borderShadowWidth: 0,
                                borders: false,
                                needleType: "arrow",
                                needleWidth: 3,
                                needleCircleSize: 10,
                                needleCircleOuter: true,
                                needleCircleInner: false,
                                animationDuration: 1500,
                                animationRule: "linear"
                            })
                            light_guage.draw();
                        </script>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <img id="img_roof_lights_moon" src="/static/images/icons/roof_lights_moon-off-100.png" alt="roof_lights_moon_btn" height="50" width="50">
                            <label class="switch">
                                <input id="chk_roof_lights_moon" type="checkbox" onclick="sendJSON(&#34;roof_lights_moon&#34;)">
                                <span class="slider round"></span>
                            </label>
                
                        </div>
                        <div class="row">
                            <img id="img_roof_lights_sun" src="/static/images/icons/roof_lights_sun-off-100.png" alt="roof_lights_sun_btn" height="50" width="50">
                            <label class="switch">
                                <input id="chk_roof_lights_sun" type="checkbox" onclick="sendJSON(&#34;roof_lights_sun&#34;)">
                                <span class="slider round"></span>
                            </label>
                
                        </div>
                
                        <div class="row">
                            <img id="img_lights" src="/static/images/icons/lights-off-100.png" alt="lights_btn" height="50" width="50">
                            <label class="switch">
                                <input id="chk_lights" type="checkbox" onclick="sendJSON(&#34;lights&#34;)">
                                <span class="slider round"></span>
                            </label>
                
                        </div>
                    </div>
                </div>
            
            </div>    

        

        </div>
    </div>
  
  
</body>

</html>